# Properties of ForumizerBot
bot_token=<your test bot token>
bot_prefix=<your bot prefix>

# message moving
#first entry
mm_1_emojiId=<id of some emoji>
mm_1_channelId=<id of some channel>
# second entry
mm_2_emojiId=<id of another emoji>
mm_2_channelId=<id of another channel>
# nth entry (just iterate the number in the property names
# .
# .
# .