# Properties of SentinelBot
db_string=jdbc:mysql://address:port/database_name?useUnicode=yes&user=your_db_username&password=your_db_password
bot_token=<your test bot token>
bot_id=<your test bot id>
bot_prefix=<your bot prefix>