# Properties of SentinelBot
db_string=jdbc:mysql://address:port/database_name?useUnicode=yes&user=your_db_username&password=your_db_password
live_token=<your live bot token>
live_id=<your live bot id>
test_token=<your test bot token>
test_id=<your test bot id>
